<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/">Eat Out, Austin</a>
    <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
      type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {{#if loggedIn}}
        <li class="nav-item  mx-0 mx-lg-1">
          <a class="nav-link  py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item  mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#" id="logout" class="">Logout</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/login">Login</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
  <div class="dropdown text-center">
    <button class="btn2 dropdown-toggle btn-lg" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      What Are You Hungry For?
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <button class="dropdown-item" href="/restaurant#farm-to-table" target="_blank" value="Farm to Table">Farm To Table
      </button>
      <button class="dropdown-item" href="/restaurant#southern" target="_blank"
        value="Southern American">Southern</button>
      <button class="dropdown-item" href="/restaurant#veggie" target="_blank" value="Vegetarian & Vegan">Vegan and
        Vegetarian</button>
      <button class="dropdown-item" href="/restaurant#asian" target="_blank" value="Asian">Asian & Asian Fusion</button>
      <button class="dropdown-item" href="/restaurant#bbq" target="_blank" value="TX BBQ">BBQ</button>
      <button class="dropdown-item" href="/restaurant#seafood" target="_blank" value="Seafood">Seafood</button>
      <button class="dropdown-item" href="/restaurant#latin-american" target="_blank" value="Mexican">Mexican</button>
      <button class="dropdown-item" href="/restaurant#french" target="_blank" value="French">French</button>
      <button class="dropdown-item" href="/restaurant#italian" target="_blank" value="Italian">Italian</button>
      <button class="dropdown-item" href="/restaurant#indian" target="_blank" value="Indian">Indian</button>
      <button class="dropdown-item" href="/restaurant#japanese" target="_blank" value="Sushi">Sushi</button>
      <button class="dropdown-item" href="/restaurant#burgers" target="_blank" value="Burgers">Burgers</button>
    </div>
  </div>
</nav>

<section class="mt-5 container " style="padding-left: 2%; padding-top: 100px">
    <section>
  <h2>Edit Restaurant</h2>

  <form class="edit-restaurant-form mb-5">
    {{!-- name --}}
      <div class="mb-3">
        <label for="restaurant-name" class="form-label">Name</label>
        <input type="text" class="form-control w-50" id="restaurant-name" name="restaurant-name" value="{{restaurant.res_name}}">
      </div>
    {{!-- phone # --}}
      <div class="mb-3">
        <label for="restaurant-phone" class="form-label">Phone #</label>
        <input type="text" class="form-control w-50" id="restaurant-phone" name="restaurant-phone" value="{{restaurant.res_phone}}">
      </div>
    {{!-- website --}}
      <div class="mb-3">
        <label for="restaurant-site" class="form-label" >Website</label>
        <input type="text" class="form-control w-50" id="restaurant-site" name="restaurant-site" value="{{ restaurant.res_website }}">
      </div>
    {{!-- Address --}}
      <div class="mb-3">
        <label for="restaurant-address" class="form-label">Address</label>
        <input type="text" class="form-control w-50" id="restaurant-address" name="restaurant-address" value="{{restaurant.res_address}}">
      </div>

      <label for="food-style" class="form-label">Food Style</label> <br>
      <select name="food-style" id="food-style" class="custom-select w-50">
        <option value="Farm to Table">Farm to Table</option>
        <option value="Southern American">Southern American</option>
        <option value="Vegeterian & Vegan">Vegeterian &#38; Vegan</option>
        <option value="Asian">Asian</option>
        <option value="TX BBQ">TX BBQ</option>
        <option value="Seafood">Seafood</option>
        <option value="Mexican">Mexican</option>
        <option value="French">French</option>
        <option value="Italian">Italian</option>
        <option value="Indian">Indian</option>
        <option value="Sushi">Sushi</option>
        <option value="Burgers">Burgers</option>
      </select>

      <div class="custom-control custom-radio mt-3">
        <input type="radio" name="a" value="true" id="brick-mortar" class="custom-control-input">
        <label class="custom-control-label" for="brick-mortar">Check if the restaurant is a Brick and Mortar</label>
      </div>

      
      <div class="custom-control custom-radio">
        <input type="radio" name="a" id="trailer" value="true" class="custom-control-input">
        <label for="trailer" class="custom-control-label">Check if the restaurant is a Food Truck</label>
      </div>

      <div class="custom-control custom-radio">
        <input type="checkbox" name="delivery" id="delivery" value="delivery" class="custom-control-input">
        <label for="delivery" class="custom-control-label">Check if the restaurant offers delivery</label>
      </div>

      <div class="custom-control custom-radio">
        <input type="checkbox" name="takeout-curbside" id="takeout-curbside" value="takeout-curbside" class="custom-control-input">
        <label for="takeout-curbside" class="custom-control-label">Check if the restaurant offers curbside takeout</label>
      </div>

      <div class="custom-control custom-radio">
        <input type="checkbox" name="reservations" id="reservations" value="reservations" class="custom-control-input">
        <label for="reservations" class="custom-control-label">Check if the restaurant takes reservations</label>
      </div>

      <div class="custom-control custom-radio mb-4">
        <input type="checkbox" name="on-site-parking" id="on-site-parking" value="on-site-parking" class="custom-control-input">
        <label for="on-site-parking" class="custom-control-label">Check if the restaurant has on-site parking</label>
      </div>

    <button type="submit" class="btn btn-outline-dark" id="edit-btn">Save Changes</button>
    <button type="submit" class="btn btn-outline-dark" id="delete-btn">Delete Restaurant</button>

  </form>

  <form class="edit-review-form">

    <div class="mb-3"> 
      <label for="review-text" class="form-label">Content:</label>
      <textarea class="form-control" name="review-text" id="review-text" cols="30" rows="10">{{restaurant.review_content}}</textarea>
    </div>

    <button type="submit" class="btn btn-outline-dark">Save Review</button>
    <button type="button" class="delete-post-btn btn btn-outline-dark">Delete Review</button>
  </form>
</section>

<script src="/javascript/edit-restaurant.js"></script>
<script src="/javascript/delete-restaurant.js"></script>